*:focus {
    outline: none;
}

/*-------------------------Sets the radio / checkbox to nothing---------------------*/
input[type=radio], input[type=checkbox] {
	position:absolute; z-index:-1000; top:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
/*-------------------------Sets the sprite------------------------------------------*/
input[type=radio] + label, input[type=checkbox] + label {
	background-repeat:no-repeat;
	background:url(../images/icons/svg/question.svg) no-repeat; 
	background-size: cover; 
	background-position: 0 -210px;
	cursor:pointer;
	display:inline-block;
	font-size:0px;
	line-height:210px;
	margin-bottom: 20px;
	height:210px;
	vertical-align:middle; 
	width:195px;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 

}
input[type=radio].cb-drink-water:checked + label.cb-drink-water-label, input[type=checkbox].cb-drink-water:checked + label.cb-drink-water-label,
input[type=radio].cb-extreme-weather:checked + label.cb-extreme-weather-label, input[type=checkbox].cb-extreme-weather:checked + label.cb-extreme-weather-label,
input[type=radio].cb-face-mask:checked + label.cb-face-mask-label, input[type=checkbox].cb-face-mask:checked + label.cb-face-mask-label,
input[type=radio].cb-frequent-flyer:checked + label.cb-frequent-flyer-label, input[type=checkbox].cb-frequent-flyer:checked + label.cb-frequent-flyer-label,
input[type=radio].cb-hat-and-sunnies:checked + label.cb-hat-and-sunnies-label, input[type=checkbox].cb-hat-and-sunnies:checked + label.cb-hat-and-sunnies-label,
input[type=radio].cb-moisturiser:checked + label.cb-moisturiser-label, input[type=checkbox].cb-moisturiser:checked + label.cb-moisturiser-label,
input[type=radio].cb-multi-vitamins:checked + label.cb-multi-vitamins-label, input[type=checkbox].cb-multi-vitamins:checked + label.cb-multi-vitamins-label,
input[type=radio].cb-outdoors:checked + label.cb-outdoors-label, input[type=checkbox].cb-outdoors:checked + label.cb-outdoors-label,
input[type=radio].cb-pollution:checked + label.cb-pollution-label, input[type=checkbox].cb-pollution:checked + label.cb-pollution-label,
input[type=radio].cb-questions:checked + label.cb-questions-label, input[type=checkbox].cb-questions:checked + label.cb-questions-label,
input[type=radio].cb-spf:checked + label.cb-spf-label, input[type=checkbox].cb-spf:checked + label.cb-spf-label,
input[type=radio].cb-stress-family:checked + label.cb-stress-family-label, input[type=checkbox].cb-stress-family:checked + label.cb-stress-family-label,
input[type=radio].cb-stress-sleep:checked + label.cb-stress-sleep-label, input[type=checkbox].cb-stress-sleep:checked + label.cb-stress-sleep-label,
input[type=radio].cb-stress-traffic:checked + label.cb-stress-traffic-label, input[type=checkbox].cb-stress-traffic:checked + label.cb-stress-traffic-label,
input[type=radio].cb-stress-work:checked + label.cb-stress-work-label, input[type=checkbox].cb-stress-work:checked + label.cb-stress-work-label,
input[type=radio].cb-stress:checked + label.cb-stress-label, input[type=checkbox].cb-stress:checked + label.cb-stress-label,
input[type=radio].cb-suburban:checked + label.cb-suburban-label, input[type=checkbox].cb-suburban:checked + label.cb-suburban-label,
input[type=radio].cb-sun-exposure-high:checked + label.cb-sun-exposure-high-label, input[type=checkbox].cb-sun-exposure-high:checked + label.cb-sun-exposure-high-label,
input[type=radio].cb-sun-exposure-low:checked + label.cb-sun-exposure-low-label, input[type=checkbox].cb-sun-exposure-low:checked + label.cb-sun-exposure-low-label,
input[type=radio].cb-sun-exposure-medium:checked + label.cb-sun-exposure-medium-label, input[type=checkbox].cb-sun-exposure-medium:checked + label.cb-sun-exposure-medium-label,
input[type=radio].cb-sunscreen:checked + label.cb-sunscreen-label, input[type=checkbox].cb-sunscreen:checked + label.cb-sunscreen-label,
input[type=radio].cb-urban:checked + label.cb-urban-label, input[type=checkbox].cb-urban:checked + label.cb-urban-label,
input[type=radio].cb-uvb:checked + label.cb-uvb-label, input[type=checkbox].cb-uvb:checked + label.cb-uvb-label {
	background-position: 0 0;
}

input[type=radio].cb-drink-water + label.cb-drink-water-label, input[type=checkbox].cb-drink-water + label.cb-drink-water-label {
	background-image: url(../images/icons/svg/drink_water.svg);
}

input[type=radio].cb-extreme-weather + label.cb-extreme-weather-label, input[type=checkbox].cb-extreme-weather + label.cb-extreme-weather-label {
	background-image: url(../images/icons/svg/extreme_weather.svg);
}

input[type=radio].cb-face-mask + label.cb-face-mask-label, input[type=checkbox].cb-face-mask + label.cb-face-mask-label {
	background-image: url(../images/icons/svg/face_mask.svg);
}

input[type=radio].cb-frequent-flyer + label.cb-frequent-flyer-label, input[type=checkbox].cb-frequent-flyer + label.cb-frequent-flyer-label {
	background-image: url(../images/icons/svg/frequent_flyer.svg);

}

input[type=radio].cb-hat-and-sunnies + label.cb-hat-and-sunnies-label, input[type=checkbox].cb-hat-and-sunnies + label.cb-hat-and-sunnies-label {
	background-image: url(../images/icons/svg/hat_and_sunnies.svg);
	
}

input[type=radio].cb-moisturiser + label.cb-moisturiser-label, input[type=checkbox].cb-moisturiser + label.cb-moisturiser-label {
		background-image: url(../images/icons/svg/moisturiser.svg);

}

input[type=radio].cb-multi-vitamins + label.cb-multi-vitamins-label, input[type=checkbox].cb-multi-vitamins + label.cb-multi-vitamins-label {
	background-image: url(../images/icons/svg/multi_vitamins.svg);
}

input[type=radio].cb-outdoors + label.cb-outdoors-label, input[type=checkbox].cb-outdoors + label.cb-outdoors-label {
	background-image: url(../images/icons/svg/outdoors.svg);
}

input[type=radio].cb-pollution + label.cb-pollution-label, input[type=checkbox].cb-pollution + label.cb-pollution-label {
	background-image: url(../images/icons/svg/pollution.svg);
}
input[type=radio].cb-questions + label.cb-questions-label, input[type=checkbox].cb-questions + label.cb-questions-label {
	background-image: url(../images/icons/svg/question.svg);
}

input[type=radio].cb-spf + label.cb-spf-label, input[type=checkbox].cb-spf + label.cb-spf-label {
	background-image: url(../images/icons/svg/spf.svg);
}

input[type=radio].cb-stress-family + label.cb-stress-family-label, input[type=checkbox].cb-stress-family + label.cb-stress-family-label {
	background-image: url(../images/icons/svg/stress_family.svg);
}

input[type=radio].cb-stress-sleep + label.cb-stress-sleep-label, input[type=checkbox].cb-stress-sleep + label.cb-stress-sleep-label {
	background-image: url(../images/icons/svg/stress_sleep.svg);
}

input[type=radio].cb-stress-traffic + label.cb-stress-traffic-label, input[type=checkbox].cb-stress-traffic + label.cb-stress-traffic-label {
	background-image: url(../images/icons/svg/stress_traffic.svg);
}

input[type=radio].cb-stress-work + label.cb-stress-work-label, input[type=checkbox].cb-stress-work + label.cb-stress-work-label {
	background-image: url(../images/icons/svg/stress_work.svg);
}

input[type=radio].cb-stress + label.cb-stress-label, input[type=checkbox].cb-stress + label.cb-stress-label {
	background-image: url(../images/icons/svg/stress.svg);
}

input[type=radio].cb-suburban + label.cb-suburban-label, input[type=checkbox].cb-suburban + label.cb-suburban-label {
	background-image: url(../images/icons/svg/suburban.svg);
}

input[type=radio].cb-sun-exposure-high + label.cb-sun-exposure-high-label, input[type=checkbox].cb-sun-exposure-high + label.cb-sun-exposure-high-label {
	background-image: url(../images/icons/svg/sun_exposure_high.svg);
}

input[type=radio].cb-sun-exposure-low + label.cb-sun-exposure-low-label, input[type=checkbox].cb-sun-exposure-low + label.cb-sun-exposure-low-label {
	background-image: url(../images/icons/svg/sun_exposure_low.svg);
}

input[type=radio].cb-sun-exposure-medium + label.cb-sun-exposure-medium-label, input[type=checkbox].cb-sun-exposure-medium + label.cb-sun-exposure-medium-label {
	background-image: url(../images/icons/svg/sun_exposure_medium.svg);
}

input[type=radio].cb-sunscreen + label.cb-sunscreen-label, input[type=checkbox].cb-sunscreen + label.cb-sunscreen-label {
	background-image: url(../images/icons/svg/sunscreen.svg);
}

input[type=radio].cb-urban + label.cb-urban-label, input[type=checkbox].cb-urban + label.cb-urban-label {
	background-image: url(../images/icons/svg/urban.svg);
}
input[type=radio].cb-uvb + label.cb-uvb-label, input[type=checkbox].cb-uvb + label.cb-uvb-label {
	background-image: url(../images/icons/svg/sun_exposure_high.svg);
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #C0D9E2;
    height:10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    margin-top: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #FF97A4;
    opacity: 1;
    width: 26px;
    height: 26px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

.slide-low {
	font-size: 24px;
	font-weight: bold;
}

.slide-high {
	font-size: 24px;
	font-weight: bold;
}

input[type="text"]#rangeValue, .large-text {
	border: 0;
	font-size: 30px;
}


/*SLIDER*/
input[type="range"] {
	width:90%;
}