 
.icon-drink_water {
	background-image: url('png/drink_water.png');
	background-repeat: no-repeat;
}

 
.icon-extreme_weather {
	background-image: url('png/extreme_weather.png');
	background-repeat: no-repeat;
}

 
.icon-face_mask {
	background-image: url('png/face_mask.png');
	background-repeat: no-repeat;
}

 
.icon-frequent_flyer {
	background-image: url('png/frequent_flyer.png');
	background-repeat: no-repeat;
}

 
.icon-hat_and_sunnies {
	background-image: url('png/hat_and_sunnies.png');
	background-repeat: no-repeat;
}

 
.icon-logo {
	background-image: url('png/logo.png');
	background-repeat: no-repeat;
}

 
.icon-moisturiser {
	background-image: url('png/moisturiser.png');
	background-repeat: no-repeat;
}

 
.icon-multi_vitamins {
	background-image: url('png/multi_vitamins.png');
	background-repeat: no-repeat;
}

 
.icon-outdoors {
	background-image: url('png/outdoors.png');
	background-repeat: no-repeat;
}

 
.icon-pollution {
	background-image: url('png/pollution.png');
	background-repeat: no-repeat;
}

 
.icon-question {
	background-image: url('png/question.png');
	background-repeat: no-repeat;
}

 
.icon-spf {
	background-image: url('png/spf.png');
	background-repeat: no-repeat;
}

 
.icon-stress_family {
	background-image: url('png/stress_family.png');
	background-repeat: no-repeat;
}

 
.icon-stress_sleep {
	background-image: url('png/stress_sleep.png');
	background-repeat: no-repeat;
}

 
.icon-stress_traffic {
	background-image: url('png/stress_traffic.png');
	background-repeat: no-repeat;
}

 
.icon-stress_work {
	background-image: url('png/stress_work.png');
	background-repeat: no-repeat;
}

 
.icon-stress {
	background-image: url('png/stress.png');
	background-repeat: no-repeat;
}

 
.icon-suburban {
	background-image: url('png/suburban.png');
	background-repeat: no-repeat;
}

 
.icon-sun_exposure_high {
	background-image: url('png/sun_exposure_high.png');
	background-repeat: no-repeat;
}

 
.icon-sun_exposure_low {
	background-image: url('png/sun_exposure_low.png');
	background-repeat: no-repeat;
}

 
.icon-sun_exposure_medium {
	background-image: url('png/sun_exposure_medium.png');
	background-repeat: no-repeat;
}

 
.icon-sunscreen {
	background-image: url('png/sunscreen.png');
	background-repeat: no-repeat;
}

 
.icon-urban {
	background-image: url('png/urban.png');
	background-repeat: no-repeat;
}

