body {
	font-family: 	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Open Sans', sans-serif;	
	font-weight: 	300;
	background:		white;
	color:			#1F1F1F;
	margin:0;
	padding:0;
}
input[type="submit"], input[type="submit"]:focus, input[type="submit"]:active, input[type="button"], input[type="button"]:focus, input[type="button"]:active,  
button, button:focus, button:active {
 	 background:	none!important;
     border:		none; 
     padding:		0!important;
    /*border is optional*/
     cursor: 		pointer;
     font-size:		16px;
     font-weight: 	300;
     font-family: 	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Open Sans', sans-serif;
     margin:		0;
     color: 		#1F1F1F;
     text-decoration: none;
     }


h1, h2, h3, h4, h5, h6, li, p {font-weight: 300;}

h1 {
	color: 		#46AB8C;
	font-size:	46px;
	border: 	2px solid #46AB8C;
	padding:	5px 10px;
}

h2 {
	font-size:		36px;
	margin-bottom:	10px;
	margin-top:		0 !important;
	text-align: center;
	line-height: 1.2;
}

#index h2 {
	text-align: left;
	position: absolute;
	right:160px;
	bottom:160px;
}

p {
	max-width: 860px;
	line-height:30px;
	margin:0 auto 30px auto;
	font-size:20px;
	text-align: center;
}

.disclaimer {
	font-size:14px;
}

a {
	color: #1F1F1F;
	text-decoration: none;
	line-height: normal;
}

a:hover {
	text-decoration: none;
}

ul {
	margin:0;
	padding:0;
}
li {
	list-style: none;
	margin:0;
	padding:0;
}

ul#ups li {
	float: 		left;
	width: 80px;
	height: 87px;
	margin: 0 5px;
	
}

ul#ups li#u-breadcrumb {
	background-image: url(../images/icons/svg/sun_exposure_medium.svg) ;
	background-size: cover;
	background-position: 0 0;
}
ul#ups li#p-breadcrumb {
	background-image: url(../images/icons/svg/pollution.svg) ;
	background-size: cover;
	background-position: 0 0;
}
ul#ups li#s-breadcrumb {
	background-image: url(../images/icons/svg/stress.svg) ;
	background-size: cover;
	background-position: 0 0;
}

ul#ups li#u-breadcrumb-active {
	background-image: url(../images/icons/svg/sun_exposure_high.svg) ;
	background-size: cover;
	background-position: 0 87px;
}
ul#ups li#p-breadcrumb-active {
	background-image: url(../images/icons/svg/pollution.svg) ;
	background-size: cover;
	background-position: 0 87px;
}
ul#ups li#s-breadcrumb-active {
	background-image: url(../images/icons/svg/stress.svg) ;
	background-size: cover;
	background-position: 0 87px;
}

.left {
	float:		left;
}

.right {
	float:		right;
}

#logo {
	background: url(../images/icons/svg/logo.svg) no-repeat top left;
	background-size: cover;
	height:100px;
	width:300px;
}

#logo span {
	margin: -5000px;
}

#container {
	background: #FFF;
	height: 	1000px;
	margin:		0 auto;
	padding:	40px;
	width:		1840px;
}

#index #container {
	background: none;
}

header, footer, #content {
	width:100%;
	margin: 0 auto;
}

em {}


#content {
	height:860px;
	width: 1400px;
	margin:0 auto;
}

#align #content {
	margin-top:43px;
	text-align: center;
}

#content article {
	margin:60px auto 0 auto;
	width:100%;
	
}

/*Index*/
video#bgvid {
	position: fixed;
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
}

/*Eye Alignmemt page*/
#align header h2, #align #content p, #results header h2 {
	max-width: 		none;
	text-align: 	center;
}

.form-list ul li ul li {
	float:left;
	display: block;
	width:125px;
	
}

.form-list li.col-1 {
	margin:0 auto;
	text-align: center;
}
.form-list li.col-2 {
	float: left;
	text-align: center;
}
.form-list li.col-3 {
	float: left;
	text-align: center;
	width:33.3333%;
}
.form-list li.col-4 {
	float: left;
	text-align: center;
}
.form-list li.col-5 {
	float: left;
	text-align: center;
	width: 20%;
}

.form-list li p {
	text-align: center;
}

.checkboxes span {
	font-size: 30px;
}



#results #content {
text-align: center;
}
#results #content p {
text-align: center;
width:780px;
margin:10px auto;
}

.center {
	text-align: center;
}

a.button-main, input[type="submit"].button-main, input[type="button"].button-main {
	background:  	#46AB8C !important;
	font-size: 		30px;
	padding:		10px !important;
	border: 		none;
	color:			white;
	text-transform: uppercase;
	font-family: 	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Open Sans', sans-serif;
	font-weight: 	300;
	display: 		block;
	text-align: 	center;
	width:			250px;
	box-sizing: inherit;
	line-height: 1;
	float:right;
	margin:0 0 0 20px;
}

a.button-main-large {
	background:  	#46AB8C !important;
	font-size: 		30px;
	padding:		10px !important;
	border: 		none;
	color:			white;
	text-transform: uppercase;
	font-family: 	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Open Sans', sans-serif;
	font-weight: 	300;
	display: 		block;
	text-align: 	center;
	width:			300px;
	box-sizing: inherit;
	line-height: 1;
	float:right;
	margin:0 0 0 20px;
}

a.home {float:left;}

/*input[type="submit"] {
	margin:0;
}

input[type="submit"].button-main  {
	background:  	#46AB8C;
	font-size: 		30px;
	padding:		10px 50px;
	border: 		none;
	color:			white;
	text-transform: uppercase;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Open Sans', sans-serif;
	font-weight: 300;
	display: -webkit-box;
	width:247px;
	float:right;
}

a.button-main {
	padding-left: 50px;
	background:  	#46AB8C;
	font-size: 		30px;
	padding:		10px 0 10px 50px;
	border: 		none;
	color:			white;
	text-transform: uppercase;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Open Sans', sans-serif;
	font-weight: 300;
	display: -webkit-box;
	width:197px;
	text-align: center;
	float:right;
}*/


.center p {
	font-size:16px;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


